<div class="row">
    <div class="col-md-8">
        <h3>Posts List</h3>
        <div>
            <a class="btn btn-primary" [routerLink]="['/posts/add']">Add Post</a>
        </div>
        <table class="table" *ngIf="posts | async">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let post of posts | async">
                    <td>{{post.id}}</td>
                    <td>{{post.title}}</td>
                    <td [innerHTML]="post.description"></td>
                    <td>
                        <a class="btn btn-primary" [routerLink]="['edit', post.id]">Edit</a>&nbsp;
                        <button type="button" class="btn btn-danger" (click)="onDeletePost(post.id)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <router-outlet></router-outlet>
    </div>
</div>