<div class="row">
    <div class="col-md-6 offset-md-3">
        <h3>Login</h3>
        <hr />
        <form [formGroup]="signupForm" class="form-group" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label>Name</label>
                <input class="form-control" type="text" placeholder="name" id="name" formControlName="name">
                <div *ngIf="signupForm.get('name').touched && !signupForm.get('name').valid">
                    <div *ngIf="signupForm.get('name').errors.required">
                        Name is required
                    </div>
                    <div *ngIf="signupForm.get('name').errors.minlength">
                        Name should be atleast 4 characters
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label>Email</label>
                <input class="form-control" type="email" placeholder="email" id="email" formControlName="email">
                <div *ngIf="signupForm.get('email').touched && !signupForm.get('email').valid">
                    <div *ngIf="signupForm.get('email').errors.required">
                        Email is required
                    </div>
                    <div *ngIf="signupForm.get('email').errors.email">
                        Invalid Email
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label>Password</label>
                <input class="form-control" type="password" placeholder="password" id="password" formControlName="password">
                <div *ngIf="signupForm.get('password').touched && !signupForm.get('password').valid">
                    <div *ngIf="signupForm.get('password').errors.required">
                        Password is required
                    </div>
                    <div *ngIf="signupForm.get('password').errors.minlength">
                        Password should be atleast 6 characters
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label>Phone Number</label>
                <input class="form-control" type="text" placeholder="Phone Number" id="phonenumber" formControlName="phoneNumber">
                <div *ngIf="signupForm.get('phoneNumber').touched && !signupForm.get('phoneNumber').valid">
                    <div *ngIf="signupForm.get('phoneNumber').errors.required">
                        Phone Number is required
                    </div>
                    <div *ngIf="signupForm.get('phoneNumber').errors.minlength">
                        Phone Number should be atleast 11 number
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <button class="btn btn-primary" type="submit" [disabled]="!signupForm.valid">Sign Up</button>
            </div>
        </form>
    </div>
</div>